header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  width: 100%;
  height: 80px;
  background-color: #2d6073;
  border-bottom: 4px solid black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-decoration: none;
}

.logo img{
  width: 50px;
  height: 50px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}