/* Formatação geral */
body {
  margin: 50px 0;
  background-color: #2E2732;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #f8f5f8;
}

/* Centralização da tabela e formulário */
.formContainer, .tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 40px 0;
}

/* Customização do formulário */
.formTable {
  width: 700px;
  background-color: #6631ED;
  color: #f8f5f8;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-weight: 600px;
  border-radius: 8px;
}

.formTable td {
  padding: 8px 0;
}

.formTable td:first-child {
  padding-left: 38px;
  padding-right: 0;
}

.formTable tr:first-child td {
  padding-left: 0;
}

input {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #f8f5f8;
  font-weight: 600;
  color: #2E2732;
}

input:focus {
  transition: all .2s ease-in-out; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  outline: none;
  background-color: #dfdfdf; 
}

input::placeholder {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #2e273277;
}

select {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #f8f5f8;
  font-weight: 600;
  color: #2E2732;
  cursor: pointer;
}

select:focus {
  transition: all .2s ease-in-out; 
  outline: none;
  background-color: #dfdfdf; 
}

select option {
  background-color: #2E2732;
  color: #fff;
}

#nascimento {
  width: 136px;
  height: 18px;
  cursor: pointer;
}

#nascimento, input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.radioLabel {
  display: inline-flex;
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"] {
  margin: 0 5px 0 20px;
  height: 18px;
  width: 18px;
  accent-color: #2E2732;
  cursor: pointer;
}

.btnPlace {
  height: 100px;
}

.inputBtn {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #f8f5f8;
  border: none;
  border-radius: 32px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #2E2732;
  cursor: pointer;
}

.inputBtn:hover {
  transition: all .2s ease-in-out;
  background-color: #2E2732;
  color: #f8f5f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Customização da tabela de dados */
.dataTable {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-weight: 600;
  border-collapse: collapse;
  overflow: hidden;
  width: 1600px;
  white-space: nowrap;
  color: #2E2732;
}

.header {
  background-color: #6631ED;
  color: #f8f5f8;
}

.header th {
  padding: 15px 10px;
}

.dataTable td, .header {
  padding: 8px 0;
  text-align: center;
}

.dataTable tbody tr:nth-of-type(even) {
  background-color: #dfdfdf;
}

.dataTable tbody tr:nth-of-type(odd) {
  background-color: #f8f5f8;
}

.dataTable tbody tr:last-of-type {
  border-bottom: 5px solid #6631ED;
}

.btnDelClient {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #f8f5f8;
  border: none;
  border-radius: 32px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #2E2732;
  cursor: pointer;
}

.btnDelClient:hover {
  transition: all .2s ease-in-out;
  background-color: #6631ED;
  color: #f8f5f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btnDelDB {
  margin: 15px 0 0 0;
  background-color: #da0000;
  padding: 10px 20px;
  border: none;
  border-radius: 32px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #f8f5f8;
  cursor: pointer;
}

.btnDelDB:hover {
  transition: all .2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #ff0000;
}

.btnDelClient {
  transition: all .2s ease-in-out;
  background-color: #f8f5f8;
  padding: 10px 20px;
  border: 2px solid #da0000;
  border-radius: 32px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #da0000;
  cursor: pointer;
}

.btnDelClient:hover {
  background-color: #da0000;
  color: #f8f5f8;
}