* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: steelblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(22, 22, 22);
  width: 700px;
  margin: 5rem auto;
  padding: 3rem 0;
  border-radius: 10px;
  box-shadow: 0 0 5rem 0.2rem rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 25px;
  font-weight: 600;
  color: bisque;
  margin-bottom: 1rem;
}

.container input {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
}

.container textarea {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 500px;
  height: 400px;
  height: rem;
}

.container label {
  font-size: 20px;
  font-weight: 600;
  color: bisque;
  margin-right: 10px;
}

.container button {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: bisque;
  border-radius: 32px;
}

.container button:hover {
  background-color: rgb(255, 206, 146);
  transition: 0.3s ease-in-out;
}

.buttonHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  width: 80%;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgb(22, 22, 22);
  box-shadow: 0 0 5rem 0.2rem rgba(0, 0, 0, 0.1);
  gap: 2rem;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  border-radius: 5px;
  padding: 1.5rem 3rem;
  width: 90%;
}

.post button {
  padding: 1rem 1.5rem;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: red;  
  border-radius: 32px;
  box-shadow: 0 0 5rem 0.2rem rgba(0, 0, 0, 0.3 );
  color: white;
}

.post button:hover {
  background-color: white;
  transition: 0.3s ease-in-out;
  color: red;
}
