.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 50rem;
  margin: 6rem auto;
}

.adminContainer img {
  margin-bottom: 5rem;
}

.adminWelcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.adminInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputArea {
  padding: 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.clientList {
  width: 100%;
  margin-top: 1rem;
}