.btnAccount {
  background-color: #f55951;
  border: none;
  color: #f1e8e6;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.btnAccount:hover {
  transition: ease-in-out 0.2s;
  background-color: #f55951cb;
}

.btnFavorites {
  background-color: #361d32;
  border: none;
  color: #f1e8e6;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
}

.btnFavorites:hover {
  transition: ease-in-out 0.2s;
  background-color: #543c52;
}