@font-face {
  src: url(fonts/NetflixSans-Regular.otf);
  font-family: Netflix;
}

body {
  font-family: Netflix, sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
}

.header {
  display: flex;
  padding: 1.5rem 10rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #831010;
  border-radius: 60px;
}

#logo {
  width: 10rem;
}

.btnEntrar {
  width: 80px;
  height: 40px;
  font-weight: bold;
  font-size: medium;
  color: white;
  background-color: #db0000;
  border: 0;
  border-radius: 5px;
}

.btnEntrar:hover {
  background-color: #831010;
}

.firstText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstText ul {
  padding: 0;
  margin: 0;
}

.payInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.priceTable, caption{
  background-color: #564d4d;
  color: #000000;
  font-weight: bold;
  border: 2px solid #831010;
  border-spacing: 10px;
  padding: 1rem;
}

th, td, tr {
  padding: 2px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}

.form input {
  width: 300px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.form button {
  background-color: #db0000;
  color: #ffffff;
  font-weight: bold;
  font-size: medium;
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 40px;
}

.destaque {
  color: #db0000;
  font-weight: bold;
}

