@font-face {
  src: url(fonts/NetflixSans-Regular.otf);
  font-family: Netflix;
}

a {
  text-decoration: none;
  color: #BD70FB;
}

html {
  font-family: Netflix, sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  background-color: #2B083F;
  color: white;
}

h1 {
  color: #BD70FB;
  text-align: center;
}

#logo {
  width: 10rem;
}

span {
  color: #BD70FB;
  font-weight: bold;
}