.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  color: white;
  gap: 30px;
  width: 450px;
  padding: 10px 0;
}

.header img {
  width: 60px;
  height: 60px;
}